<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unikalny tytuł strony MKrajewski</title>
</head>
<body>
    <div class="row">
            <div class="col-9"">
              <p>
                Lorem ipsum dolor sit amet pede. Donec vitae pede semper feugiat. Proin dui quis enim. Class aptent taciti sociosqu 
                ad litora torquent per inceptos hymenaeos. Sed elementum, sapien tristique dapibus, mauris orci, aliquam enim. 
                Duis nonummy sagittis. Curabitur et felis. Nulla varius, rutrum ut, condimentum velit. Vivamus fermentum neque gravida 
                mattis, magna diam, venenatis risus. Vivamus lacus sed enim. Quisque arcu vel odio non diam. Suspendisse elit ac metus.
                Nulla eleifend pede in dui a augue ut magna suscipit elementum at, mollis ultrices, dui eu mi ligula, in faucibus ligula.
                Nulla consectetuer, augue purus, dictum accumsan id, felis. Integer est. Duis luctus. Nulla faucibus at, egestas blandit,
                dapibus aliquam sapien. Etiam vel libero. Donec libero vel blandit risus nisl, a ipsum. Praesent rhoncus suscipit.
                Nulla facilisi. Phasellus vitae lectus eget metus. Aenean ligula. Sed fringilla enim. Phasellus quis diam.
                Aenean aliquet. Aliquam sit amet, consectetuer ac, auctor augue leo, ac turpis luctus et lacus nulla ut turpis.
                Duis vel quam eget orci vel pede. Duis non nonummy condimentum nec, nibh. Fusce dui nulla, egestas velit.
                Pellentesque fringilla ligula ut nonummy.
              </p>
            </div>
            <div class="column">
              <h3>Szybki kontakt</h3>
              <div>
                <i class="fa fa-facebook" aria-hidden="false"></i>
                <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a>
              </div>
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">Instagram</a>
              </div>
              <div>
                <i class="fa fa-reply" aria-hidden="true"></i>
                <a href="http://gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
              </div>
            </div>
    <div class="scroll">
      <button class="btn btn-success">Do góry <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> </button>
      
   </div>
   
    <footer class="centered">
      Copyrights &copy; Mariusz Krajewski | 2020
    </footer>
</body>
</html>

  